<p style="color: green"><%= notice %></p>

<%= render @sala_bate_papo %>

<div>
  <%= link_to "Edit this sala bate papo", edit_sala_bate_papo_path(@sala_bate_papo) %> |
  <%= link_to "Back to sala bate papos", sala_bate_papos_path %>

  <%= button_to "Destroy this sala bate papo", @sala_bate_papo, method: :delete %>
</div>
